exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(ggplot2, aes,ggplot,geom_line,guides,xlab,ylab,ggtitle,facet_wrap,theme,element_blank)
import(truncnorm)
import(Rsolnp)
import(reshape2)
import(plyr)
import(gtable)
import(colorspace)
import(munsell)
useDynLib(MSM)
